services:

  backend:
    build: .
    container_name: farm-backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./public
    container_name: farm-frontend
    ports:
      - "3001:80"
    restart: always

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    restart: always

volumes:
  jenkins_home: